{{ define "nav.tmpl" }}
<div class="section-outer nav-outer section-nav" id="section-nav">
    <div class="nav-inner">
        <div class="leftNav">
            <div class="homeButt navButt" onclick="window.location = window.location.origin">WalBoard</div>
            {{if eq .ViewType "post"}}
        </div>
        {{else}}
        {{if eq .Order "chron"}}
        <div class="navButt popular" onclick="getStream('ranked')">Rank</div>
        {{else}}
        <div class="navButt newest" onclick="getStream('chron')">New</div>
        {{end}}
    </div>
    <div class="newPost navButt" onclick="togglePostForm()" id="newPostButt">Post</div>
    {{end}}
</div>
</div>
<style>{{ template "nav.css" }}</style>
<script>{{ template "nav.js"}}</script>
{{end}}
