{{ define "nextPage.tmpl" }}
<div class="section-outer nextPage-outer section-nextPage" id="section-nextPage">
    <div class="nextPage-inner">
        <div id="nextPage">☯</div>
    </div>
</div>
<style>{{ template "nextPage.css" }}</style>
<script>{{ template "nextPage.js" . }}</script>
{{end}}
