{{ define "banner.tmpl" }}
<div class="section-outer banner-outer section-banner" id="section-banner">
    <div class="banner">beta</div>
</div>
<style>{{ template "banner.css" }}</style>
<script>{{ template "banner.js"}}</script>
{{end}}
