<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head" . }} 
  <body>
    {{template "banner.tmpl" . }}
    {{template "nav.tmpl" . }}
    {{template "submitForm.tmpl" . }}
    {{template "stream.tmpl" . }}
    {{template "nextPage.tmpl" . }}
  </body>
</html>
